{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>BookList</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'lab9.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>




</head>
<style>
::placeholder {
    color: white;
    opacity: 1; 

}
</style>
<body style="background-color: black">
	<header>
		<h1 style="color: white; text-align: center;">BOOK LIST</h1>
		<button id="btn" type="button" class="btn btn-primary" style="margin-left: 45%">See the booklist</button>
		<input type="text" id="myInput" style="border: 4px Dodgerblue; margin-left: 300px; background-color: Dodgerblue" onkeyup="myFunction()" placeholder="Search for title" title="Type in a name">  
		<button onclick="searching()">Search</button>
		<script type="text/javascript">
			function searching(){
				var q = document.getElementById("myInput").value;
				console.log(q);
				var myRequest = new XMLHttpRequest();
				myRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q='+q);
				myRequest.onload = function(){
					var myData = JSON.parse(myRequest.responseText);
					console.log(myData);
					renderHTML(myData); 
				};
				myRequest.send();
				// $.ajax({
				// 	url: "https://www.googleapis.com/books/v1/volumes?q="+q,
				// 	datatype: 'json',
				// 	success: function(result){
				// 		var obj = jQuery.parseJSON(result)
				// 		console.log(obj);
				// 		renderHTML(obj);
						
				// 	}
				// });

				

			}
		</script>
		<div>
		  	<h4 class="favorite">Your Favourite</h4>
		  	<div>
		  		<h3 class="open">(</h3>
		  		<h3 style="margin-left: 88.5%; margin-top: -41px; color: white">)</h3>
		  		<h3  class="num" id="counter">{{ jumlahFav }}</h3>
		</div>
	</header>
	{% if user.is_authenticated %}
             <p class="display-4"; style="color: white">Hello, {{ user.username }}</p>
             <a class="btn btn-primary" class="lead" type="button" href="{% url 'logout' %}">Logout</a>
	{% else %}
             <a class="btn btn-primary" class="lead" type="button"  href="{% url 'login' %}">Log in</a>
	{% endif %}
	<div class="container">
		<table id="book-info" class="table table-dark table-bordered ">
			<thead>
				<tr>
			    	<th scope="col" style="text-align: center;">No</th>
			    	<th scope="col" style="text-align: center;">Cover</th>
			    	<th scope="col" style="text-align: center;">Title</th>
			     	<th scope="col" style="text-align: center;">Authors</th>
			     	<th scope="col" style="text-align: center;">Publisher</th>
			     	<th scope="col" style="text-align: center;">Favorite</th>
				</tr>
			</thead>
		</table>
		<script src="{% static 'lab9.js' %}"></script>
	</div>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		
	
</body>
</html>