{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Personal</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'Lab8.css' %}">

	
</head>
<body id="demo" style="background-color: black" onload="myFunction()" style="margin:0;">
	<div id="loader"></div>

	<div style="display:none;" id="myDiv" class="animate-bottom">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item active">
	        		<a class="nav-link" href="/" style="color: white">Landpage <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="/profile" style="color: white">Profile</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="/personal" style="color: white">Personal</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="/booklist" style="color: white">BookList</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="/profile2" style="color: white">About Me</a>
	   			</li>
	    	</ul>
	  	</div>
	</nav>
		<br><br>
		<div class="btn-group" role="group" aria-label="Basic example">
	  		<button type="button" class="btn btn-secondary" id="co">Blue</button>
	  		<button type="button" class="btn btn-secondary" id="red">Red</button>
	  		<button type="button" class="btn btn-secondary" id="black">Black</button>
		</div>
		<h1 style="color: white"> Halo Teman - Teman!</h1>
		
		<br><br><br><br><br>
		<div class="container">

		<button class="accordion" style="background-color: tomato; color: white">Aktivitas</button>
		<div class="panel">
	  		<p>Saya sekarang kuliah di Universitas Indonesia, jurusan Ilmu Komputer. pada semester ini saya mempunyai
	        kesibukan diantaranya adalah compfest dan pmb. Namun karena compfest X sudah selesai maka sekarang saya
	        hanya disibuki oleh satu kepanitiaan.</p>
		</div>

		<button class="accordion" style="background-color: tomato; color: white">Organisasi dan kepanitiaan</button>
		<div class="panel">
	  		<ul>- Pemira</ul>
	        <ul>- Compfest</ul>
	        <ul>- PMB</ul>
		</div>

		<button class="accordion" style="background-color: tomato; color: white">Prestasi</button>
		<div class="panel">
	  		<p>Loading...</p>
		</div>

		<img src="https://i.pinimg.com/originals/2d/a9/26/2da926c3a720e09bd6531a672aae1c9e.gif" style="width: 300px; height: 300px">
		<img src="https://vignette.wikia.nocookie.net/simanimalsadventures/images/d/d5/GIF-Patrick-Star.gif/revision/latest?cb=20160127185928" style="margin-left: 200px">
</div>

    <script>
    var myVar;

	function myFunction() {
    myVar = setTimeout(showPage, 3000);
	}

	function showPage() {
  	document.getElementById("loader").style.display = "none";
  	document.getElementById("myDiv").style.display = "block";
		}
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
  		acc[i].addEventListener("click", function() {
    	this.classList.toggle("active");
    	var panel = this.nextElementSibling;
    	if (panel.style.maxHeight){
      		panel.style.maxHeight = null;
    	} 
    	else {
      		panel.style.maxHeight = panel.scrollHeight + "px";
    	} 
  		});
	}

	$(document).ready(function() {
    $("#co").click(function() {
        $("body").css("background-color","lightskyblue"); //edit, body must be in quotes!
    });
});
	$(document).ready(function() {
    $("#red").click(function() {
        $("body").css("background-color","maroon"); //edit, body must be in quotes!
    });
});
	$(document).ready(function() {
    $("#black").click(function() {
        $("body").css("background-color","black"); //edit, body must be in quotes!
    });
});


</script>
      		

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>