{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'TP1CSS.css' %}">
</head>
<body style="background-color: black">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: white">Landpage <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" style="color: white">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/personal" style="color: white">Personal</a>
      </li>
      <li class="nav-item"> 
            <a class="nav-link" href="/booklist" style="color: white">BookList</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/profile2" style="color: white">About Me</a>
     </li>
    </ul>
  </div>
</nav>
	<h1>My profile</h1>
	<img class="foto" src = "{% static 'Image_4d74db4.jpg' %}" width="15%" height="20%">

	<h4 class="nama"> Nama : Mohammad Hasan Albar</h4>
	<h4 class="umur"> Umur : 19</h4>
	<h4 class="universitas"> Universitas : University of Indonesia</h4>
	<h4 class="email"> Email : muhammadalbr@gmail.com</h4>

	<footer>
		<p> Contact : 08123456789</p>
	</footer>
</body>
</html>