{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'Lab10CSS.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color: black">
	
	<div style="padding: 2em 10em;">
		<hr style="background-color: pink; height: 10px; width: 60%; margin-left: 54%">
		<div class="card" style="padding: 10px; margin-left: -70px;">
	  		<img src="{% static 'Image_4d74db4.jpg' %}" alt="Avatar" style="width:100%">
	  			<div class="container">
	    			<h4><b>Mohammmad Hasan Albar</b></h4> 
	    			<p>Computer Science Student</p> 
	  			</div>
			</div>
		</div>
	</div>
	<hr style="background-color: pink; height: 10px; width: 60%; margin-left: 0px">

	<div class="container">
	 <div class="col-md-10">
         <div class="card mb-4 text-white bg-dark" style="margin-left: 880px; margin-top: -750px;">
            <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">About Me</h5>
               <p class="card-text">Halo saya Mohammad Hasan Albar saya merupakan mahasiswa Fakultas Ilmu Komputer.
               saya sekarang sedang berada pada semester 3 perkuliahan di Universitas Indonsia. Ingin join dalam tim saya
           	   silahkan klik tombol subscribe di bawah ini.</p>
               <a href="/subscribe" class="btn btn-outline-light btn-sm" style="font-size: 20px">Subscribe</a>
            </div>
         </div>
      </div>
   </div>





	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html> 
