{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Subscribe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'Lab10CSS.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'subscribe.js' %}"> -->
</head>

<body style="background-color: black">
	<div  class="card" style="width: 50rem; margin:auto; margin-top: 5%; padding: 5%; background-color: DarkSalmon">
	<h1 style="text-align: center"> Subscribe</h1>
	<br>
	<form method="POST" id="post-form">
		{% csrf_token %}
		 <div class="form_group">
                    <div id="form_subscribe" class="form_data">
                        {{ form.nama }}
                        <div id = "form_nama" class = "alert"> <b>*Name is required<b> </div>
                    </div>
                    <br>
                    <div class="form_data">
                        {{ form.email }}
                        <div id = "form_email" class = "alert"> *Valid email is required </div>
                        <div id = "form_email2" class = "alert"> *Email already registered </div>
                    </div>
                    <br>
                    <div class="form_data">
                        {{ form.password }}
                        <div id = "form_password" class = "alert"> *Password is required </div>
                    </div>
                </div>
                <br>
                <div class="button_subscribe">
                    <input class="btn btn-outline-danger" type="submit" id="submit_subscribe" value="SUBSCRIBE">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
    $('#submit_subscribe').prop('disabled', true);
    $('#form_nama').hide();
    $('#form_email').hide();
    $('#form_email2').hide();
    $('#form_password').hide();
    $('#nama').val("");
    $('#email').val("");
    $('#password').val("");
    //index 0 untuk nama, index 1 untuk email,
    // index 2 untuk password, dan index 3 untuk email exist
    var flag = [false, false, false, false]
    $('#nama').on('input', function () {
        var input = $(this); //ambil elemen dengan id nama
        check(input, 0);
        checkButton();
    });

    var timer = null;
    $('#email').keydown(function () {
        clearTimeout(timer);
        timer = setTimeout(function () {
            var input = $("#email"); //ambil elemen dengan id email
            check(input, 1);
            checkButton();
        }, 1000)
    });

    $('#password').on('input', function () {
        var input = $(this); //ambil elemen dengan id password
        check(input, 2);
        checkButton();
    });

    var check = function (input, arr) {
        if (arr === 1) { //jika email
            var reg = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/; //cek bentuk email
            var is_elemen = reg.test(input.val()); // jika benar bentuk email maka is_elemen bernilai true
            if (is_elemen) {
                $('#form_email').hide();
                checkEmail(input.val()); // ambil isi data form nya
                flag[arr] = true;
                return
            } else {
                $('#form_email2').hide();
            }
        } else {
            var is_elemen = input.val();
        }
        if (is_elemen) { //kalau data nya ada
            if (arr === 0) {
                $('#form_nama').hide();
            } else if (arr === 1) {
                $('#form_email').hide();
            } else {
                $('#form_password').hide();
            }
            flag[arr] = true;
        } else {
            if (arr === 0) {
                $('#form_nama').show();
            } else if (arr === 1) {
                $('#form_email').show();
            } else {
                $('#form_password').show();
            }
            flag[arr] = false;
        }
    };

    var checkEmail = function (email) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/checkEmail/",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {email: email},
            success: function (response) { //response berupa boolean is_email_already_exist
                if (response.is_email) {
                    $('#form_email2').show();
                    flag[3] = false;
                    checkButton();
                } else {
                    $('#form_email2').hide();
                    flag[3] = true;
                    checkButton();
                }
            },
            error: function (error) {
                alert("Error, cannot get data from server")
            }
        });
    };

    var checkButton = function () {
        var button_subscribe = $('#submit_subscribe');
        for (var x = 0; x < flag.length; x++) {
            if (flag[x] === false) {
                button_subscribe.prop('disabled', true);
                return
            }
        }
        button_subscribe.prop('disabled', false);
    };


    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault(); //biar ga reload
            $.ajax({
                method: "POST",
                url: '/subscribe/',
                data: $('form').serialize(),
                success: function (status) {
                    if (status.status_subscribe) {
                        var title1 = "<h1 align=\"center\" class=\"judul_utama_subscribe\"><strong> Thank you for subscribing! </strong></h1>";
                        var title2 = "<div align=\"center\" class=\"sub_judul_subscribe\"> Enjoy my website :)</div>";
                    } else {
                        var title1 = "<h1 align=\"center\" class=\"judul_utama_subscribe\"><strong> Sorry, something error! </strong></h1>";
                        var title2 = "<div align=\"center\" class=\"sub_judul_subscribe\"> Try again :(</div>";
                    }
                    $(".judul_utama_subscribe").replaceWith(title1);
                    $(".sub_judul_subscribe").replaceWith(title2);
                    for (var i = 0; i < flag.length; i++) {
                        flag[i] = false
                    }
                    $("#submit_subscribe").prop('disabled', true);
                    $('#nama').val("");
                    $('#email').val("");
                    $('#password').val("");

                },
                error: function (error) {
                    alert("Error, cannot connect to server")
                }
            });
        });
    });
});

</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
 

</body>
</html>