{% extends "layout.html" %}


{% block content %}
<style type="text/css">
	p{
		color: white;
	}
</style>
<body style="background-color: black">
  <h2 style="color: white">Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
</body>
{% endblock %}