.favorite{
	margin-left: 75%; 
	color: white;
}
.open{
	margin-left: 86.5%; 
	margin-top: -43px; 
	color: white;
}
.close{
	margin-left: 88.5%; 
	margin-top: -41px; 
	color: white;
}
.num{
	margin-left: 87.25%; 
	margin-top: -39.5px; 
	color: white;
}


