/* CSS untuk form */

h1{
	color: white;
	background-color: DodgerBlue;
	padding: 5%;
}

/* CSS untuk profile */

h1.profile{
	color: white;
	background-color: DodgerBlue;
	padding: 5%;
}
img.foto{
	width: 15%;
	height: 30%;
	position: absolute;
	margin: 5% 5%
}
img.insta{
	width: 5%;
	height: 5%;
	position: absolute;
	margin: 50% 5%
	background-color: DodgerBlue;
}
h4.nama{
	position: relative;
  	margin: 5% 30%;
  	border: 10px tomato;
  	color: tomato;
}
h4.umur{
	position: relative;
	margin: 5% 30%;
	color: tomato;
}
h4.universitas{
	position: relative;
	margin: 5% 30%;
	color: tomato;
}
h4.email{
	position: relative;
	margin: 5% 30%;
	color: tomato;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: DodgerBlue;
    color: white;
    text-align: center;
}
.accordion {
    	background-color: #eee;
	    color: #444;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left; 
	    outline: none;
	    font-size: 15px;
	    transition: 0.4s;
	}	

	.accordion:after {
	    content: '\002B';
	    color: #777;
	    font-weight: bold;
	    float: right;
	    margin-left: 5px;
	}

	.active:after {
    	content: "\2212";
	}

	.panel {
	    padding: 0 18px;
	    background-color: white;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;
	}
	#loader {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: -75px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
  		0% { -webkit-transform: rotate(0deg); }
  		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg); }
	}

/* Add animation to "page content" */
	.animate-bottom {
  		position: relative;
  		-webkit-animation-name: animatebottom;
  		-webkit-animation-duration: 1s;
  		animation-name: animatebottom;
  		animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
  		from { bottom:-100px; opacity:0 } 
  		to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
  		from{ bottom:-100px; opacity:0 } 
  		to{ bottom:0; opacity:1 }
	}

	#myDiv {
  		display: none;
  		text-align: center;
	}
	