/* CSS untuk homepage */

a{
  margin: 50% 10%;
}
a.signup{
  left: 100px;
}
button.submit{
  margin: 10% 50%;
}
button.singup{
  left: 100px;
}
h3.first{
  color: white;
  position: relative;
  margin: 20% 3%;
}
h3.second{
  color: white;
  position: relative;
  margin: -18% 3%;
}
h3.third{
  color: white;
  position: relative;
  margin: 20% 3%;
}
/* CSS untuk CV */
body {
  background-image: url("104168.jpg");
}
img.back{
  position: absolute;
  background-color: tomato;
  margin: -10% 80%;
}
img.profile{
  position: absolute;
  margin: -4% 1%;
}
hr.about{
  background-color: tomato;
  margin: 5% 1%;
}
hr.personal{
  background-color: tomato;
  width: 25%;
  height: 2px;
  margin: -24% 0%;
}
hr.professional{
  background-color: tomato;
  width: 25%;
  height: 2px;
  margin: -10% 0%;
}
h2{
  position: absolute;
  margin: 1% 3%;
}
h3.python{
  position: relative;
  margin: -42% 43%;
  font-size: 20px;
}
h3.java{
  position: relative;
  margin: -40% 43%;
  font-size: 20px;
}
h3.html{
  position: relative;
  margin: -36% 43%;
  font-size: 20px;
}
p.header{
  position: absolute;
  margin: -7% 23%;
}
p.information{
  position: relative;
  margin: 22% 0%;
  font-size: 20px;
}
p.name{
  position: relative;
  margin: 25% 0%;
  font-size: 20px;

}
p.age{
  position: relative;
  margin: -24% 0%;
  font-size: 20px;

}
p.university{
  position: relative;
  margin: 25% 0%;
  font-size: 20px;

}
p.experience{
  position: relative;
  margin: -24% 0%;
  font-size: 20px;
}
p.email{
  position: relative;
  margin: 25% 0%;
  font-size: 20px;
}
p.phone{
  position: relative;
  margin: -24% 0%;
  font-size: 20px;
}
p.description{
  position: relative;
  margin: -43% 28%;
  font-size: 150%

}
p.skills{
  position: relative;
  margin: 43% 41%;
  font-size: 20px;
}
p.day{
  color: white;
}
.rectangle1 {
  height: 20px;
  width: 400px;
  margin: 42% 42%;
  background-color: tomato;
}
.rectangle2 {
  height: 20px;
  width: 600px;
  margin: 40% 42%;
  background-color: tomato;
}
.rectangle3 {
  height: 20px;
  width: 300px;
  margin: 36% 42%;
  background-color: tomato;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

}
form.regis{
  margin-top: 70px;
}


</style>