 {% load static %}
<!DOCTYPE html>
<head>
  <body>
    {% block content %}
    {% endblock %}
   
    <div class="footer">
          <img src = "{% static 'facebookFooter.png' %}" width="55" height="55" usemap="#workmap">
            <map name="workmap">
              <area shape="rect" coords="10,5,50,50" alt="Computer" href="https://www.facebook.com/muhammad.h.albar">
            </map>


          <img src = "{% static 'Instagram-Logo.png' %}"  width="45" height="45" usemap="#workmap2">
            <map name="workmap2">
              <area shape="rect" coords="0,0,50,50" alt="Computer" href="https://www.instagram.com/muhammadalbr/">
            </map>

          <img src = "{% static 'line-logo-messenger-png-4.png' %}" width="60" height="60" usemap="#workmap3">
            <map name="workmap3">
              <area shape="rect" coords="10,7,50,50" alt="Computer" href="https://line.me/ti/p/Ehz_Md7D9Z">
            </map>

             
             <a type="button" class="btn btn-light btn-lg signup" href="/signup">Signup</a>


        </div>
  </body>
</head>