{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="{% static 'Story3CSS.css' %}">
</head>
<body>
	<h1 style="background-color: DodgerBlue; color:white; padding: 7%; font-size: 300%">Form data</h1><br>
	<div class="py-5">
		<div class ="container my-5">
			<div class ="row">
				<div class= "col-md-1"></div>
				<div class= "col-md-1"></div>
				<div class= "col-md-1"></div>
				<div class="col-md-2"></div>
					
	<form action="/schedule/" method="post" class="text-white" >
		{% csrf_token %}
		{{scheduleForm}}
		<input type="submit" value="Submit">
		<a class="btn btn-danger" href= "{% url 'delete' %}"> Delete</a>
	</div>
	</form>
	
	 


	{% for post in Posts %}
		<h3 style="color: white; background-color: DodgerBlue;">{{post.judul}}</h3>
		<p style="color: white">{{post.day}}</p>
		<p style="color: white">{{post.time}}</p>
		<p style="color: white">{{post.activity}}</p>
		<p style="color: white">{{post.place}}</p>
		<p style="color: white">{{post.category}}</p>
	{% endfor %}

</body>
</html>