{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{% static 'Story3CSS.css' %}">
    <body>
    	
    <div class="container my-5">
    <form class="regis">
	  <div class="container">
	  	<label style="color: white">Name</label>
	  	<div class="row">
	    <div class="col">
	      <input type="text" class="form-control" placeholder="First name">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" placeholder="Last name">
	    </div>
	  </div>

	    <div class="form-group">
    	<label style="color: white">Birth Date</label>
    	<input type="date" class="form-control">
  	   	</div>

  		<div class="form-group">
    	<label style="color: white">Email</label>
    	<input type="email" class="form-control" placeholder="example@gmail.com">
  		</div>

  		<div class="form-group">
    	<label style="color: white">Username</label>
    	<input type="text" class="form-control" placeholder="Username">
  		</div>

  		<label style="color: white">Password</label>
		<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
		<small id="passwordHelpBlock" class="form-text text-muted">
  		Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
		</small>

		<label style="color: white">Password Confirmation</label>
		<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">

		
		<button onclick="myFunction()" type="button" class="btn btn-light submit">Submit</button>
		<script>
			function myFunction() {
			    alert("YEAY! now you part of the team");
			}
		</script>
		

		
		  

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	  </body>
	</html>