{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'Story3CSS.css' %}">

    <title>Hello, world!</title>
  </head>
  
  <body  class="p-3 mb-2 bg-dark text-white">
    
    <h2>About me</h2><hr class="about">

    <img class="back" src = "{% static 'back-logo-png-image-58923.png' %}" width="60" height="60" usemap="#workmap4">
        <map name="workmap4">
          <area shape="rect" coords="10,7,50,50" alt="Computer" href="file:///C:/Users/malbar/Desktop/PPW/template.html">
        </map>

    <p class="header">Computer Science Student</p>

    <img src = "{% static 'Image_4d74db4.jpg' %}" alt="Profile Picture" class="img-thumbnail profile" width="15%" height="15%" usemap="workmap3">
    <map name="workmap3">
        <area shape="rect" coords="0,0,100,100" alt="Computer" href="/about">
        
        </map>
    

    
    <p class="information">Personal Information</p>/<hr class="personal">

    <p class="name">Name : Mohammad Hasan Albar</p>
    <p class="age">Age : 19</p>
    <p class="university">University : University of Indonesia</p>
    <p class="experience">Experience : 0 years</p>
    <p class="email">Email : muhammadalbr@gmail.com</p>
    <p class="phone">Phone : 081386368994</p>

    <p class="description">Saya adalah Mahasiswa Fakultas Ilmu Komputer di Universitas Indonesia. Saya orangnya biasa - biasa saja dan tidak banyak tingkah serta selalu mematuhi peraturan yang ada. Saya orang yang baik hati dan tidak sombong, saya juga suka menabung untuk masa depan saya. Saya berharap bisa belajar dengan baik di bidang ini dan bisa mendapatkan ip yang maksimal serta kerja yang saya sukai.</p>  
    <p class="skills">Professional Skills</p><hr class="Professional">
    <h3 class="python">Phyton</h3> 
    <div class="rectangle1"></div>
    <h3 class="java">Java</h3>
    <div class="rectangle2"></div>
    <h3 class="html">HTML & CSS</h3>
    <div class="rectangle3"></div>
    <div class="footer" style="background-color:tomato">
        <img src="https://image.flaticon.com/icons/png/512/69/69407.png" width="50" height="50"  usemap="#workmap" >
        <img src="http://renflorist.com/wp-content/uploads/2017/06/line-logo.png" width="50" height="50" usemap="#workmap1">
        <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Instagram-Logo.png?resize=300%2C300" width="50" height="50" usemap="#workmap2">
        <map name="workmap">
        <area shape="rect" coords="0,0,100,100" alt="Computer" href="https://facebook.com">
        
        </map>
        <map name="workmap1">
        <area shape="rect" coords="0,0,100,100" alt="Computer" href="https://line.com">
        
        </map>
        <map name="workmap2">
        <area shape="rect" coords="0,0,100,100" alt="Computer" href="https://instagram.com">
        
        </map>

        <a href= "/schedule">
            <button type="button" class="btn btn-dark">Registration</button>
        </a>
        <a href= "/signup">
            <button type="button" class="btn btn-dark">Signup</button>
        </a>
    </div>

   

    
    

  </body>

   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>